body {
  background-color: var(--background);
  color: var(--text);
  font-size: var(--items);
}

main {
  padding: 50px 100px;
}

.countryWrapping {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-auto-rows: 1fr;
  gap: 5em;
}

.countryWrapping a {
  color: var(--text);
  text-decoration: none;
}

.country {
  box-shadow: var(--box-shadow);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: var(--elements);
}

.flag {
  object-fit: cover;
  width: 100%;
  height: 185px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.info {
  padding: 20px;
}

.name {
  font-weight: 800;
  margin-bottom: 20px;
}

.info > div {
  margin-bottom: 5px;
}

.label {
  font-weight: 800;
}

.view-button {
  padding: 10px 20px;
  border-radius: 5px;
  color: var(--elements);
  background-color: var(--text);
  text-align: center;
  font-weight: 600;
}

@media (max-width: 480px) {
  main {
    padding: 40px 20px;
  }

  .countryWrapping {
    display: block;
  }
  .country {
    margin-bottom: 50px;
  }

  .flag {
    height: auto;
  }

  .btn {
    transition: none;
  }
}
