:root {
  /* light mode */

  --text: hsl(200, 15%, 8%);
  --input: hsl(0, 0%, 52%);
  --background: hsl(0, 0%, 98%);
  --elements: hsl(0, 0%, 100%);

  /* dark mode */
  /*
  --elements: hsl(209, 23%, 22%);
  --background: hsl(207, 26%, 17%);
  --text: hsl(0, 0%, 100%);
*/
  --box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.08);
  --element-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.08);
  /* text */
  --items: 14px;
  --details: 16px;
}
